<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style/creditbarstyle.css" />
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/42739acc52.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="credit-bar-div" id="footer-bar-placeholder">
      <ul class="top-credit">
        <li class="top-credit-li">
          <img
            class="top-credit-img1"
            src="template/images/RegieDuBatiment.png"
          />
        </li>
        <li class="top-credit-li" class="top-credit-img top-credit-img2">
          <img class="top-credit-img2" src="template/images/apchq.png" />
        </li>

        <li class="top-credit-li" class="top-credit-img top-credit-img3">
          <a href="https://www.facebook.com/conceptionrenovationcote/"
            ><img class="top-credit-img3" src="template/images/fborange.png"
          /></a>
        </li>

        <li class="top-credit-li">
          <div class="credit-contact-info-grid">
            <ul class="credit-contact-info-grid-text">
              <li><a href="tel:+8199628399">819-962-8399</a></li>
              <li>&nbsp;</li>
              <li>
                <a href="mailto:conceptionrenovationcote@outlook.com"
                  >conceptionrenovationcote@outlook.com</a
                >
              </li>
            </ul>

            <ul class="credit-contact-info-grid-icon">
              <a href="tel:+8199628399"
                ><li>
                  <i class="fa-solid fa-phone" id="over"></i></li
              ></a>

              <a href="mailto:conceptionrenovationcote@outlook.com"
                ><li>
                  <i class="fa-regular fa-envelope" id="over"></i></li
              ></a>
            </ul>
          </div>
        </li>

        <li class="top-credit-li">
          <img class="top-credit-img5" src="template/images/logoCRC.png" />
        </li>
      </ul>
      <ul class="bot-credit">
        <li class="credit-code"><h>RBQ&nbsp;5810-6865-01</h></li>
        <li class="credit-droit-auteur">
          <h
            >©&nbsp;2022&nbsp;Conception&nbsp;Rénovation&nbsp;Côté&nbsp;-&nbsp;Tous&nbsp;les&nbsp;droits&nbsp;réservés</h
          >
        </li>
        <li class="credit-credit">
          <h
            >Realisé&nbsp;par:&nbsp;Louis-Philippe&nbsp;Côté&nbsp;et&nbsp;Jacob&nbsp;Chapman</h
          >
        </li>
      </ul>
    </div>
  </body>
</html>
