<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style/formulairestyle.css" />
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/42739acc52.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script>
      document.getElementById("form-input").value = location.href;
      
        function send() {
      var dict_content = {
      prenom: document.getElementById("fname").value,
      nom: document.getElementById("lname").value,
      couriel: document.getElementById("couriel").value,
      telephone: document.getElementById("phone").value,
      ville: document.getElementById("ville").value,
      disponibilite: document.getElementById("periode").placeholder.split(":")[1],
      message: document.getElementById("message").value,
      piecejointe: document.getElementById("file-input").files,
    };

    
    var email_content = miseEnPage(dict_content);

    var form = document.getElementById("form-main");

    var messageFiles = document.getElementById("message-files");

    setContent(email_content[0]);
    setSubject(email_content[1]);
    appendAnFileSlot("piece-jointe", dict_content["piecejointe"]);

    form.submit();

    alert("Votre soumission à été envoyée avec succès!")

  }
      </script>
    <script src="/script/input_file.js"></script>
    <script src="/script/periode-drop.js"></script>
    <script src="/script/mailTools.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="formulaire-container" id="furmulaire-placeholder">
        <img src = "template/images/backgroundEstimation.jpg" class="formulaire-container-img" >
        <div class="formulaire-div" >
          <form action="{getform-endpoint}" method="POST">
    
            
          
          </form>
          <div class="grid-container-estimation">
            <form
          action="https://formsubmit.co/conceptionrenovationcote@outlook.com"
          method="POST"
          id="form-main"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_subject" value="Default3" id="form-subject" />
    
          
    
          <input type="hidden" name="content" id="form-content" />
          <li class="form-files" id="form-files">
            <input type="hidden" name="_captcha" value="false" id="empty" />
          </li>
          <input type="hidden" name="_next" value="allo" id="form-input"/>
            </form>
            <div class="air1"></div>
            <div class="air2"></div>
            <div class="air3"></div>  
            <div class="air4"></div>
            <div class="air5"></div>
            <div class="air6"></div>
            <div class="air7"></div>
            <div class="title"><h class="title-Estimation-1">Estimation</h>&nbsp;<h class="title-Estimation-2">gratuite</h></div>
            <div class="sub-title">819-962-8399</div>
            <div class="input-nom"><input class="simple-input" type="text" id="fname" name="firstname" placeholder="Prénom"></div>
            <div class="input-prenom"><input class="simple-input" type="text" id="lname" name="lastname" placeholder="Nom"></div>
            <div class="input-couriel"><input class="simple-input" type="text" id="couriel" name="couriel" placeholder="Courriel"></div>
            <div class="input-phone"><input class="simple-input" type="text" id="phone" name="phone" placeholder="Téléphone"></div>
            <div class="input-ville"><input class="simple-input" type="text" id="ville" name="ville" placeholder="Ville"></div>
            <div class="input-periode" onmouseleave="dropDownMenuLeave()">
              <div class="input-periode-sub-div" >
                <input class="simple-input input-periode-sub" type="text" type="text" id="periode" name="peridode" placeholder="Disponibilité :" onclick="dropDownMenuCLick()"  READONLY>
                <i class='fas fa-angle-down' onclick="dropDownMenuCLick()"></i>
                
                </input>
              </div>
              
            
            <div class="dropdown-content" id="dropdown-content1">
              <button class="button-periode" onclick="gotChecked('0')" id="btn-periode0">7h-10h</button>
              <button class="button-periode" onclick="gotChecked('1')" id="btn-periode1">10h-14h</button>
              <button class="button-periode" onclick="gotChecked('2')" id="btn-periode2">14h-17h</button>
            </div>
          </div>
            <div class="input-message"><textarea class="message-input" type="text" id="message" name="message" placeholder="Message" style="font-family: Open sans"></textarea></div>
            
            <label class="input-fichier">
              <h class="file-input-text" id="file-input-text" style="font-family: Open sans">Ajouter une piece jointe</h>
              <input type="file" id="file-input" style="display: none;" onchange="fileInputTextUpdate()">
                
                
                
            </label>
                
            
            
            <div class="btn-send"><button onclick="send()">Envoyer</button></div>  
          </div>
        </div>
      </div>
  </body>
</html>
