<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style/navbarstyle.css" />
    <link rel="stylesheet" href="/style.css" />
    
    <script
      src="https://kit.fontawesome.com/42739acc52.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script>
      
current_L = localStorage.getItem("language");

      if (
        current_L != "en-EN" &&
        current_L != "fr-FR" &&
        current_L != "en" &&
        current_L != "fr"
      ) {
        localStorage.setItem("language", navigator.language);
        current_L = navigator.language;
      }
      if (current_L == "en-EN" || current_L == "en") {
        setButtonLanguages("FR");
      }

      if (current_L == "fr-FR" || current_L == "fr") {
        setButtonLanguages("EN");
      }
      
      pageName = location.href.split("/").slice(-1)[0].replace(".html", "");
      if (pageName != ""){
          triangle = document.getElementById(`triangle-${pageName}`);
        
        triangle.id = "triangle";
        

        pageName = location.href.split("/").slice(-1)[0].replace(".html", "");
        triangle = document.getElementById(`triangle-${pageName}`);
        
        triangle.id = "triangle";
      }
      else {
        triangle = document.getElementById(`triangle-index`);
        
        triangle.id = "triangle";
        

        pageName = location.href.split("/").slice(-1)[0].replace(".html", "");
        triangle = document.getElementById(`triangle-index`);
        
        triangle.id = "triangle";
      }

      
      
      
    </script>
    <script src="script/burgeropening.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body onload="setLanguage()">
    <div class="language-ul">
      <li>
        <button
          class="language-ul-text"
          id="LanguageButton"
          onclick="changeLanguage()"
        >FR</button>
      </li>
    </div>
    <nav class="nav-bar" id="nav-bar-placeholder">
      <ul class="split-de-4" style="display: flex">
        
        

    </nav>
  </body>
</html>
