<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style/navbarstyle.css" />
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/42739acc52.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <nav class="nav-bar" id="nav-bar-placeholder">
      <ul class="split-de-4" style="display: flex">
        <div class="logo-div">
          <img class="logo-img" src="/images/logo.png" />
        </div>
        <div class="rect-logo"></div>
        <div class="button-div">
          <ul>
            <li class="button-sub-sub-line">
              <a class="button-text" href="/nous-contacter.html"
                >Nous&nbsp;Contacter</a
              >
            </li>
            <li class="button-sub-sub-line">
              <dict class="rect-links"></dict>
            </li>
          </ul>

          <ul>
            <li class="button-sub-sub-line">
              <a class="button-text" href="/index.html">Accueil</a>
            </li>
            <li class="button-sub-sub-line">
              <dict class="rect-links"></dict>
            </li>
          </ul>

          <ul>
            <li class="button-sub-sub-line">
              <a class="button-text" href="/nos_services.html">Services</a>
            </li>
            <li class="button-sub-sub-line">
              <dict class="rect-links"></dict>
            </li>
          </ul>

          <ul>
            <li class="button-sub-sub-line">
              <a class="button-text" href="/carrieres.html">Carrières</a>
            </li>
            <li class="button-sub-sub-line">
              <dict class="rect-links"></dict>
            </li>
          </ul>

          <ul>
            <li class="button-sub-sub-line">
              <a class="button-text" href="/a_propos.html">À&nbsp;propos</a>
            </li>
            <li class="button-sub-sub-line">
              <dict class="rect-links"></dict>
            </li>
          </ul>
        </div>

        <div class="info-div">
          <ul class="info-icon-ul">
            <li><i class="fa-solid fa-phone" id="nav"></i></li>

            <li>
              <i class="fa-regular fa-envelope" id="nav"></i>
            </li>
          </ul>
          <ul class="info-text-ul">
            <li><a href="#" id="telephone">819-962-8399</a></li>

            <li><a href="#" id="estimation">Estimation</a></li>
          </ul>
        </div>

        <div class="language-ul">
          <li><p class="language-ul-text">FR</p></li>
          <li>
            <i class="fa-solid fa-caret-down" id="nav-l"></i>
          </li>
        </div>
      </ul>
    </nav>
  </body>
</html>
