.a-propos-bloc {
  background-color: #14202e;
  width: 100%;
  height: 1150px;
  display: flex;
  flex-direction: column;
}

.banderole-a-propos {
  background-color: rgba(20, 32, 46, 0.9);
  margin-top: 70px;
  width: 100%;
  height: 100px;
  z-index: 2;
  position: absolute;
  text-align: center;
  line-height: 100px;
}

.a-propos-bloc-histoire {
  width: 80%;
  height: 350px;
  position: absolute;
  z-index: 1;
  margin-top: 230px;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.a-propos-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: #14202e;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.logo-crc-hisoire {
  width: 65%;
  height: auto;
  min-width: 200px;
}

.histoire-texte {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(150%);
  width: 60%;
  height: 100%;
}

.a-propos-bois {
  background-image: url(../images/textureBois.jpeg);
  width: 100%;
  height: 400px;
  background-size: 100% 1200px;
  background-position: bottom;
  z-index: 1;
  position: absolute;
}

.a-propos-stone {
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  height: 1150px;
  width: 100%;
  background-image: url(../images/RockTexture.jpg);
  position: absolute;
}

.notre-equipe-bloc {
  width: 80%;
  height: 400px;
  position: absolute;
  margin: 700px 10%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.notre-equipe-texte {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(150%);
  width: 60%;
  height: 100%;
}

.faire-carriere-bouton-div {
  width: 100%;
  text-align: center;
  position: fixed;
}

.faire-carriere-bouton {
  text-align: center;
  text-decoration: none;
  color: #ffff;

  letter-spacing: 0px;
  font-size: 1.5vw;

  font-family: "Open sans", sans-serif;
  font-weight: 600;
  padding: 0.75vw;

  padding-left: 2vw;
  padding-right: 2vw;
  border-style: solid;
  border-color: rgb(207, 96, 40);
  background-color: rgb(207, 96, 40);
}

.notre-equipe-image-bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}

.notre-equipe-image {
  height: 70%;
  width: auto;
  min-height: 100px;
}

.blur {
  background-color: rgba(207, 205, 205, 0.4);
  backdrop-filter: blur(50px) grayscale(0.15) opacity(0.4);
  height: 100%;
  width: 100%;
}

.a-propos-bloc p {
  text-align: center;
}

.banderole-a-propos h {
  color: #ffff;
  text-shadow: 6px 6px 7px #000;

  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 900;

  font-family: "Libre Franklin", sans-serif;
}

.a-propos-bloc h2 {
  margin-top: 50px;
  font-size: 45px;
  font-family: "Open sans", sans-serif;
  color: #14202e;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.a-propos-bloc p {
  margin: 40px 40px 20px 40px;
  text-align: justify;
  font-size: 2vh;
  font-family: "Open sans", sans-serif;
  color: #14202e;
  font-weight: 700;
  max-height: fill-available;
}
