@media screen and (max-width: 800px) {
  /*Au dessus de 800px (version mobile)*/
  .residentiel-div {
    top: 55vw;
    position: relative;
    width: 100%;
    height: 107.5vw;

    display: flex;
    justify-content: center;
    padding-top: 6vw;

    background: linear-gradient(
      to top,
      #ffffff 0%,
      #ffffff 10%,
      #9c9e9f 10%,
      #9c9e9f 70%,
      rgb(255, 255, 255) 70%,
      rgb(184, 182, 182) 100%
    );
  }

  .residentiel-sub-div {
    position: relative;

    width: 88vw;
    height: 100vw;
    display: inline;

    backdrop-filter: blur(10px);
    border-bottom-left-radius: 2.5vw;
    background: linear-gradient(
      to top,
      rgb(230, 230, 230) 0%,
      rgb(184, 182, 182) 40%,
      rgb(184, 182, 182) 100%
    );
    border-bottom-right-radius: 2.5vw;
    box-shadow: 2px 2px 20px rgb(40, 40, 40);
  }

  .residentielle-carousel {
    width: 100%;
    height: 50vw;

    position: relative;
  }

  .carousel1 {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .resentrer-bottom {
    object-position: bottom;
  }
  .button-left-right-div {
    position: relative;
    width: 100%;
    height: 20%;

    top: -55%;

    display: flex;
    justify-content: space-between;
  }

  .residentielle-carousel button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .residentielle-carousel i:hover {
    color: rgba(255, 255, 255, 0.95);
  }
  .residentielle-carousel i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10vw;
    text-shadow: 2px 5px 5px black;
  }
  .btn-left {
    text-align: center;
    height: 100%;
    width: 10%;
  }
  .btn-right {
    height: 100%;
    width: 10%;
    text-align: center;
    align-items: center;
  }
  .residentiel-text {
    width: 100%;
    height: 50vw;
    text-align: center;
    background: linear-gradient(
      to top,
      rgb(230, 230, 230) 0%,
      rgb(184, 182, 182) 100%
    );
    border-bottom-right-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
    display: inline;
    justify-content: space-between;
  }

  .residentiel-text-header {
    height: 12.5%;
    width: 100%;

    padding-top: 1vw;
  }

  .residentiel-text-header h1 {
    font-size: 5.5vw;
    font-family: "Open sans", sans-serif;
    color: #14202e;
    font-weight: 600;
  }

  .residentiel-text-header h2 {
    color: #14202e;

    letter-spacing: 0px;
    font-size: 2.25vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }

  .residentiel-text-list {
    width: 100%;
    height: 29%;
  }

  .residentiel-text-list-elements {
    text-align: left;
    height: 4.5vw;
    list-style: none;
    padding-left: 12.5%;
    justify-content: space-around;
  }

  .residentiel-text-list-elements i {
    color: rgb(207, 96, 40);
    font-size: 1.25vw;
    padding-right: 1vw;
  }
  .residentiel-text-list-elements h {
    color: #14202e;

    font-size: 2.25vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }
  .residentiel-text-button-div {
    width: 100%;

    height: 10%;
  }

  .residentiel-text-button {
    text-align: center;
    text-decoration: none;
    color: #ffff;

    letter-spacing: 0px;
    font-size: 2.25vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
    padding: 1.5vw;

    padding-left: 4vw;
    padding-right: 4vw;
    border-style: solid;
    border-color: rgb(207, 96, 40);
    background-color: rgb(207, 96, 40);
  }
}
/*















*/

@media screen and (min-width: 800px) {
  /*Au dessus de 800px (version web)*/
  .residentiel-div {
    top: 51.75vw;
    position: relative;
    width: 100%;
    height: 45vw;

    display: flex;
    justify-content: center;
    padding-top: 6vw;

    background: linear-gradient(
      to top,
      #9c9e9f 0%,
      #9c9e9f 70%,
      rgb(255, 255, 255) 70%,
      rgb(184, 182, 182) 100%
    );
  }

  .residentiel-sub-div {
    position: relative;

    width: 88vw;
    height: 35vw;

    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-top-right-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
  }

  .residentielle-carousel {
    width: 55%;
    height: 100%;

    position: relative;
  }

  .carousel1 {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .button-left-right-div {
    position: relative;
    width: 100%;
    height: 20%;

    top: -55%;

    display: flex;
  }

  .residentielle-carousel button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .residentielle-carousel i:hover {
    color: rgba(255, 255, 255, 0.95);
  }
  .residentielle-carousel i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 5.5vw;
    text-shadow: 2px 5px 5px black;
  }
  .btn-left {
    text-align: center;
    height: 100%;
    width: 10%;
  }
  .btn-right {
    height: 100%;
    width: 10%;
    text-align: center;
    align-items: center;
  }
  .residentiel-text {
    width: 45%;
    height: 35vw;
    text-align: center;
  }

  .residentiel-text-header {
    height: 30%;
    width: 100%;

    padding-top: 1.5vw;
  }

  .residentiel-text-header h1 {
    font-size: 4vw;
    font-family: "Open sans", sans-serif;
    color: #14202e;
    font-weight: 600;
  }

  .residentiel-text-header h2 {
    color: #14202e;

    letter-spacing: 0px;
    font-size: 1.6vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }

  .residentiel-text-list {
    width: 100%;
    height: 50%;
  }

  .residentiel-text-list-elements {
    text-align: left;
    padding-left: 12.5%;
    padding-top: 0.25vw;
  }

  .residentiel-text-list-elements i {
    color: rgb(207, 96, 40);
    font-size: 1vw;
    padding-right: 1vw;
  }
  .residentiel-text-list-elements h {
    color: #14202e;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }
  .residentiel-text-button-div {
    width: 100%;
  }

  .residentiel-text-button {
    text-align: center;
    text-decoration: none;
    color: #ffff;

    letter-spacing: 0px;
    font-size: 1.5vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
    padding: 0.75vw;

    padding-left: 2vw;
    padding-right: 2vw;
    border-style: solid;
    border-color: rgb(207, 96, 40);
    background-color: rgb(207, 96, 40);
  }
}
