.nos-services-head-main-div {
  position: relative;

  width: 100%;
  height: 50vw;
}

.background1 {
  width: 100%;
  height: 60%;

  background: rgb(20, 32, 46);
  box-shadow: inset 0 10px 99px rgba(255, 255, 255, 0.15);
}

.background2 {
  height: 40%;
  width: 100%;
  background-image: url(../images/RockTexture.jpg);

  background-position: top;
  background-repeat: repeat;
  background-size: cover;

  position: absolute;
}

.blur-background2 {
  background-color: rgba(207, 205, 205, 0.5);
  backdrop-filter: blur(50px) grayscale(0.15) opacity(0.4);
  width: 100%;
  height: 40%;
}

.nos-services-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: middle;
  position: absolute;

  top: 9%;
  background-color: rgba(201, 203, 207, 1);
  width: 100%;
  height: 9.21vw;
}
.nos-services-colored-rect {
  height: 0.325vw;
  border-radius: 1vw;
  width: 7vw;
  list-style: none;
  background-color: rgb(207, 96, 40);
}

.nos-services-title-bar h {
  text-decoration: none;
  color: #14202e;

  letter-spacing: 0px;
  font-size: 4vw;

  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.nos-services-sub-div {
  position: absolute;
  display: flex;
  margin-left: 2.5%;
  top: 30%;
  width: 95%;
  height: 28vw;

  text-align: center;
  align-items: center;
}

.nos-services-revetement-sub-div {
  width: 33.33%;
  height: 28vw;
}

.nos-services-terrase-sub-div {
  width: 33.33%;
  height: 28vw;
}

.nos-services-renovation-sub-div {
  width: 33.33%;
  height: 28vw;
}

.nos-services-sub-div h {
  text-decoration: none;
  color: #fff;

  padding-top: 1.15vw;
  letter-spacing: 0px;
  font-size: 2.75vw;

  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.nos-services-sub-div-rect {
  height: 0.3vw;
  width: 25vw;

  left: 13.5%;

  position: relative;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  background-color: rgb(207, 96, 40);
}

.nos-services-img {
  width: 75%;
  height: 75%;

  position: relative;
}

.nos-services-head-img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-style: solid;
  border-color: rgb(223, 219, 219);
  border-width: 0.6vw;
  border-radius: 2.5vw;

  margin-left: 17.5%;
  margin-top: 10%;

  filter: grayscale(80%);
  -webkit-user-drag: none;
  cursor: pointer;
}

.nos-services-sub-div div .nos-services-img:hover .nos-services-head-img {
  border-width: 0.4vw;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  filter: grayscale(0%);
}

.nos-services-sub-div div .nos-services-img:hover .nos-services-sub-div-rect {
  width: 20vw;
  left: 30%;
  position: relative;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  background-color: rgb(207, 96, 40);

  transition: 0.1s;
}
