.nous-contacter-div {
  display: flex;
  flex-wrap: wrap;
}

.nous-contacter-top {
  width: 100%;
  height: 35vw;
  display: flex;
}

.nous-contacter-top-left {
  width: 50%;
  height: 100%;
  background-image: url(../images/DerriereBleu.jpg);
  background-size: cover;
  background-position: bottom;
}

.nous-contacter-top-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

}

.heures-ouverture-div {
  margin-top: 13vw;
  width: 34vw;
  height: 20vw;
}

.heures-ouverture-titre {
  width: 100%;
  height: 20%;
  border-radius: 10px 10px 0px 0px;
  background-color: #14202e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heures-ouverture-grille {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  box-shadow: 5px 5px 30px;
}

.element-grille {
  width: 50%;
  height: 14.3%;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid rgb(209, 209, 209);
}

.nous-contacter-blur {
  position: absolute;
  background-color: rgba(228, 228, 228, 0.4);
  backdrop-filter: blur(50px) grayscale(0.15) opacity(0.4);
  width: 8vw;
  height: 35vw;
  margin-left: 41.95%;
}

.nous-contacter-banderole {
  margin-top: 3vw;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 9.21vw;
  backdrop-filter: blur(8px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: solid #14202e 2px;
  border-bottom: solid #14202e 2px;

}

.texte-banderole {
  width: 48%;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rectangle {
  width: 5.4vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: rgb(207, 96, 40);
}

.nous-contacter-titre {
  width: 30%;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.nous-contacter-bottom {
  display: flex;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  height: 46.8vw;
  width: 100%;
  background-image: url(../images/RockTexture.jpg);
  align-items: center;
  justify-content: center;
}

.bloc-informations {
  width: 85%;
  height: 70%;
  z-index: 1;
  display: flex;
}

.bloc-informations-left {
  width: 40%;
  height: 100%;
  border-radius: 3.8vw 0px 0px 3.8vw;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.bloc-informations-zones-servies {
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 30px;
  border-radius: 10px 10px 0px 0px;
}

.titre-zones-servies {
  width: 100%;
  height: 55%;
  background-color: #14202e;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zones-servies {
  width: 100%;
  height: 45%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.zones-servies-item {
  width: 50%;
  height: 100%;
  border: 1px solid rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-informations-right {
  width: 60%;
  height: 100%;
  background-image: url(../images/pickup2.jpg);
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
}

.image-telephone {
  background-image: url(../images/iconetelephoneOrange.png);
  width: 20%;
  height: 100%;
  background-size: 3vw auto;
  background-repeat: no-repeat;
  background-position: left;
}

.telephone-div {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}

.email-div {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}

.image-email {
  background-image: url(../images/iconemailorange.png);
  width: 20%;
  height: 100%;
  background-size: 3vw auto;
  background-repeat: no-repeat;
  background-position: left;
}

.blur {
  position: absolute;
  background-color: rgba(207, 205, 205, 0.4);
  backdrop-filter: blur(50px) grayscale(0.15) opacity(0.4);
  height: 46.8vw;
  width: 100%;
}

.top-blur {
  align-self: flex-start;
  position: absolute;
  background-color: rgba(207, 205, 205, 0.5);
  backdrop-filter: blur(50px) grayscale(0.15) opacity(0.4);
  height: 30%;
  width: 100%;
}

h2 {
  text-decoration: none;
  color: #14202e;
  letter-spacing: 0px;
  font-size: 3.5vw;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 1.9vw;
  font-family: "Open sans", sans-serif;
  color: #cf6028;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
}

p1 {
  font-size: 1.5vw;
  font-family: "Open sans", sans-serif;
  color: #14202e;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
}

p2 {
  font-size: 1.5vw;
  font-family: "Open sans", sans-serif;
  color: #14202e;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

p3 {
  font-size: 1.2vw;
  font-family: "Open sans", sans-serif;
  color: #cf6028;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

p4 {
  font-size: 1vw;
  font-family: "Open sans", sans-serif;
  color: #14202e;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  vertical-align: middle;
}

.formulaire-container-nous-contacter {
  position: relative;
  top: 0vw;
  width: 100%;
  height: 44vw;

  list-style: none;
}
