@media screen and (max-width: 800px) {
  .renovation-main-div {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160vw;
  }

  .renovation-bg2 {
    position: absolute;
    top: 400vw;
    width: 100%;
    height: 120vw;
    background: linear-gradient(
      to top,
      rgb(255, 255, 255) 0%,
      rgb(208, 207, 207) 75%,
      rgb(184, 182, 182) 100%
    );
    z-index:0;
  }
  .renovation-exterieur-main-titre {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 11.25vw;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
  }

  .renovation-exterieur-main-titre-rect {
    height: 0.6vw;
    width: 8.1vw;
    border-radius: 1vw;
    list-style: none;
    background-color: rgb(207, 96, 40);
  }

  .renovation-exterieur-main-titre h {
    text-decoration: none;
    color: #14202e;

    letter-spacing: 0px;
    font-size: 5.25vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }

  .renovation-exterieur-content {

    display: flex;
    justify-content: center;

    top: 20%;

    margin-left: 5.25vw;

    width: 88vw;
    height: 35vw;

    display: flex;

    background-color: #14202e;

    backdrop-filter: blur(10px);
  }
  .renovation-div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5vw;

    z-index: 2;
  }

  .renovation-sub-div {

    width: 88vw;
    height: 90%;

    display: flex;
    flex-direction: column-reverse;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
  }

  .renovation-carousel {
    width: 100%;
    height: 50%;

  }

  .carousel4 {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .button-left-right-div {
    width: 100%;
    height: 20%;

    top: -55%;

    display: flex;
    justify-content: space-between;
    color: #000;
    z-index: 1000;
  }
  .btn-left {
    text-align: center;
  }
  .btn-right {
    text-align: center;
    align-items: center;
  }
  .renovation-carousel button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .renovation-carousel i:hover {
    color: rgba(255, 255, 255, 0.95);
  }
  .renovation-carousel i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10vw;
    z-index: 999;
    text-shadow: 2px 5px 5px black;
  }

  .renovation-text {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .renovation-text-header {
    height: 30%;
    width: 90%;

    margin-left: 5%;
    padding-top: 3vw;
  }

  .renovation-text-header h1 {
    font-size: 5vw;
    font-family: "Open sans", sans-serif;
    color: #14202e;
    font-weight: 600;
  }

  .renovation-text-header h2 {
    color: #14202e;
    padding-left: 10%;
    padding-right: 10%;

    letter-spacing: 0px;
    font-size: 3vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }
  .renovation-text-and-icon {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 5%;
    padding-bottom: 7%;
  }

  .renovation-icon {
    object-fit: cover;
    width: 30%;
    height: 30%;
    margin-right: 5vw;
    margin-top: 8vw;
  }

  .renovation-text-list {
    width: 100%;
    height: 50%;
    margin-left: 10%;
  }

  .renovation-text-list-elements {
    text-align: left;
    padding-left: 2.5%;
    padding-top: 0.25vw;
  }

  .renovation-text-list-elements i {
    color: rgb(207, 96, 40);
    font-size: 1.875vw;
    padding-right: 1vw;
  }
  .renovation-text-list-elements h {
    color: #14202e;
    font-size: 3vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }

  .renovation-text-exeption {
    padding-left: 11%;
    color: #14202e;
    font-size: 1.25vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }
  .renovation-text-button-div {
    width: 100%;
  }

  .renovation-text-button {
    text-align: center;
    text-decoration: none;
    color: #ffff;
    letter-spacing: 0px;
    font-size: 3vw;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    padding: 1.5vw;
    border-style: solid;
    border-color: rgb(207, 96, 40);
    background-color: rgb(207, 96, 40);
  }
}








@media screen and (min-width: 800px) {
  .renovation-main-div {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vw;

    top: 100vw;
  }

  .renovation-bg2 {
    position: absolute;
    top: 133%;
    width: 100%;
    height: 15vw;
    background: linear-gradient(
      to top,
      rgb(255, 255, 255) 0%,
      rgb(208, 207, 207) 75%,
      rgb(184, 182, 182) 100%
    );
  }
  .renovation-exterieur-main-titre {
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;

    width: 100%;
    height: 7.5vw;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .renovation-exterieur-main-titre-rect {
    height: 0.4vw;
    width: 5.4vw;
    border-radius: 1vw;
    list-style: none;
    margin-top: 3.6vw;
    background-color: rgb(207, 96, 40);
  }

  .renovation-exterieur-main-titre h {
    text-decoration: none;
    color: #14202e;

    padding-top: 1.15vw;
    letter-spacing: 0px;
    font-size: 3.5vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }

  .renovation-exterieur-content {
    position: relative;

    display: flex;
    justify-content: center;

    top: 20%;

    margin-left: 5.25vw;

    width: 88vw;
    height: 35vw;

    display: flex;

    background-color: #14202e;

    backdrop-filter: blur(10px);
  }
  .renovation-div {
    position: relative;
    top: 40%;
    width: 100%;
    height: 22.5vw;

    display: flex;
    justify-content: center;
    padding-top: 2.5vw;
  }

  .renovation-sub-div {
    position: relative;

    width: 88vw;
    height: 35vw;

    display: flex;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
  }

  .renovation-carousel {
    width: 55%;
    height: 100%;

    position: relative;
  }

  .carousel4 {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .button-left-right-div {
    position: relative;
    width: 100%;
    height: 20%;

    top: -55%;

    display: flex;
    justify-content: space-between;
    color: #000;
    z-index: 1000;
  }
  .btn-left {
    text-align: center;
  }
  .btn-right {
    text-align: center;
    align-items: center;
  }
  .renovation-carousel button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .renovation-carousel i:hover {
    color: rgba(255, 255, 255, 0.95);
  }
  .renovation-carousel i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 5.5vw;
    z-index: 999;
    text-shadow: 2px 5px 5px black;
  }

  .renovation-text {
    width: 45%;
    height: 35vw;
    text-align: center;
  }

  .renovation-text-header {
    height: 30%;
    width: 100%;

    padding-top: 3vw;
  }

  .renovation-text-header h1 {
    font-size: 3.5vw;
    font-family: "Open sans", sans-serif;
    color: #14202e;
    font-weight: 600;
  }

  .renovation-text-header h2 {
    color: #14202e;
    padding-left: 10%;
    padding-right: 10%;

    letter-spacing: 0px;
    font-size: 1.5vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }
  .renovation-text-and-icon {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 7.5%;
    padding-bottom: 10%;
  }

  .renovation-icon {
    object-fit: cover;
    width: 30%;
    height: 30%;
    margin-right: 10%;
    margin-top: 17.5%;
  }

  .renovation-text-list {
    width: 100%;
    height: 50%;
    margin-left: 10%;
  }

  .renovation-text-list-elements {
    text-align: left;
    padding-left: 2.5%;
    padding-top: 0.25vw;
  }

  .renovation-text-list-elements i {
    color: rgb(207, 96, 40);
    font-size: 1vw;
    padding-right: 1vw;
  }
  .renovation-text-list-elements h {
    color: #14202e;
    font-size: 1.25vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }

  .renovation-text-exeption {
    padding-left: 11%;
    color: #14202e;
    font-size: 1.25vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }
  .renovation-text-button-div {
    width: 100%;
  }

  .renovation-text-button {
    text-align: center;
    text-decoration: none;
    color: #ffff;

    letter-spacing: 0px;
    font-size: 1.5vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
    padding: 0.75vw;

    padding-left: 2vw;
    padding-right: 2vw;
    border-style: solid;
    border-color: rgb(207, 96, 40);
    background-color: rgb(207, 96, 40);
  }
}