@media screen and (max-width: 800px) {
  .terrasse-main-div {
    width: 100%;
    height: 145vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .bg-terrasse {
    position: absolute;
    top:10%;
    width: 100%;
    height: 50vw;

    background-image: url(../images/textureBois.jpg);

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .terrasse-exterieur-main-titre {
    display: flex;
    text-align: center;
    justify-content: space-around;
    vertical-align: middle;
    position: absolute;

    width: 100%;
    height: 11.25vw;
    z-index: 1;
  }

  .terrasse-exterieur-main-titre-rect {
    height: 0.6vw;
    width: 8.1vw;
    border-radius: 1vw;
    list-style: none;
    margin-top: 3.6vw;
    background-color: rgb(207, 96, 40);
  }

  .terrasse-exterieur-main-titre h {
    text-decoration: none;
    color: #14202e;

    padding-top: 1.15vw;
    letter-spacing: 0px;
    font-size: 5.25vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;

  }

  .terrasse-exterieur-content {
    position: relative;

    display: flex;
    justify-content: center;


    margin-left: 5.25vw;

    width: 88vw;
    height: 35vw;

    display: flex;

    background-color: #14202e;

    backdrop-filter: blur(10px);
  }
  .terrasse-div {
    top: 0.75vw;
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    padding-top: 6vw;

    background: linear-gradient(
      to top,
      #ffffff 0%,
      #ffffff 10%,
      #9c9e9f 10%,
      #9c9e9f 77.5%,
      rgb(255, 255, 255) 77.5%,
      rgb(255, 255, 255) 100%
    );
  }

  .terrasse-sub-div {
    position: relative;

    width: 90%;
    height: 100%;

    backdrop-filter: blur(10px);
    border-bottom-left-radius: 2.5vw;
    background: linear-gradient(
      to top,
      rgb(230, 230, 230) 0%,
      rgb(184, 182, 182) 40%,
      rgb(184, 182, 182) 100%
    );
    border-bottom-right-radius: 2.5vw;
    box-shadow: 2px 2px 20px rgb(40, 40, 40);
  }

  .terrasse-carousel {
    width: 100%;
    height: 50%;
  }

  .carousel3 {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .resentrer-bottom {
    object-position: bottom;
  }
  .button-left-right-div {
    position: relative;
    width: 100%;
    height: 20%;

    top: -55%;

    display: flex;
    justify-content: space-between;
  }

  .terrasse-carousel button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .terrasse-carousel i:hover {
    color: rgba(255, 255, 255, 0.95);
  }
  .terrasse-carousel i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10vw;
    text-shadow: 2px 5px 5px black;
  }
  .btn-left {
    text-align: center;
    height: 100%;
    width: 10%;
  }
  .btn-right {
    height: 100%;
    width: 10%;
    text-align: center;
    align-items: center;
  }
  .terrasse-text {
    width: 100%;
    height: 50vw;
    text-align: center;
    background: linear-gradient(
      to top,
      rgb(230, 230, 230) 0%,
      rgb(184, 182, 182) 100%
    );
    border-bottom-right-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
    display: inline;
    justify-content: space-between;
  }

  .terrasse-text-header {
    height: 12.5%;
    width: 100%;

    padding-top: 1vw;
  }

  .terrasse-text-header h1 {
    font-size: 5.5vw;
    font-family: "Open sans", sans-serif;
    color: #14202e;
    font-weight: 600;
  }

  .terrasse-text-header h2 {
    color: #14202e;

    letter-spacing: 0px;
    font-size: 2.25vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }

  .terrasse-text-list {
    width: 100%;
    height: 29%;
  }

  .terrasse-text-list-elements {
    text-align: left;
    height: 4.5vw;
    list-style: none;
    padding-left: 12.5%;
    justify-content: space-around;
  }

  .terrasse-text-list-elements i {
    color: rgb(207, 96, 40);
    font-size: 1.25vw;
    padding-right: 1vw;
  }
  .terrasse-text-list-elements h {
    color: #14202e;

    font-size: 2.25vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }
  .terrasse-text-button-div {
    width: 100%;

    height: 10%;
  }

  .terrasse-text-button {
    text-align: center;
    text-decoration: none;
    color: #ffff;

    letter-spacing: 0px;
    font-size: 2.25vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
    padding: 1.5vw;

    padding-left: 4vw;
    padding-right: 4vw;
    border-style: solid;
    border-color: rgb(207, 96, 40);
    background-color: rgb(207, 96, 40);
  }
}
/*
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

*/
@media screen and (min-width: 800px) {
  .terrasse-main-div {
    position: relative;

    width: 100%;
    height: 30vw;
    margin-top: 3vw;
  }
  .bg-terrasse {
    position: absolute;
    top: 82%;
    width: 100%;
    height: 211.5%;

    background-image: url(../images/textureBois.jpg);

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .terrasse-exterieur-main-titre {
    display: flex;
    text-align: center;
    justify-content: space-around;
    vertical-align: middle;
    position: absolute;

    width: 100%;
    height: 7.5vw;
  }

  .terrasse-exterieur-main-titre-rect {
    height: 0.4vw;
    width: 5.4vw;
    border-radius: 1vw;
    list-style: none;
    margin-top: 3.6vw;
    background-color: rgb(207, 96, 40);
  }

  .terrasse-exterieur-main-titre h {
    text-decoration: none;
    color: #14202e;

    padding-top: 1.15vw;
    letter-spacing: 0px;
    font-size: 3.5vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }

  .terrasse-exterieur-content {
    position: relative;

    display: flex;
    justify-content: center;

    top: 20%;

    margin-left: 5.25vw;

    width: 88vw;
    height: 35vw;

    display: flex;

    background-color: #14202e;

    backdrop-filter: blur(10px);
  }
  .terrasse-div {
    position: relative;
    top: 20%;
    width: 100%;
    height: 22.5vw;

    display: flex;
    justify-content: center;
    padding-top: 2.5vw;

    background: rgb(20, 32, 46);
    box-shadow: inset 0 10px 30px rgba(255, 255, 255, 0.15);
  }

  .terrasse-sub-div {
    position: relative;

    width: 88vw;
    height: 35vw;

    display: flex;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);

    border-top-right-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
  }

  .terrasse-carousel {
    width: 55%;
    height: 100%;

    position: relative;
  }

  .carousel3 {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .button-left-right-div {
    position: relative;
    width: 100%;
    height: 20%;

    top: -55%;

    display: flex;
    justify-content: space-between;
  }

  .terrasse-carousel button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .terrasse-carousel i:hover {
    color: rgba(255, 255, 255, 0.95);
  }
  .terrasse-carousel i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 5.5vw;
    z-index: 1000;
    text-shadow: 2px 5px 5px black;
  }

  .terrasse-text {
    width: 45%;
    height: 35vw;
    text-align: center;
  }

  .terrasse-text-header {
    height: 30%;
    width: 100%;

    padding-top: 1.5vw;
  }

  .terrasse-text-header h1 {
    font-size: 4vw;
    font-family: "Open sans", sans-serif;
    color: #14202e;
    font-weight: 600;
  }

  .terrasse-text-header h2 {
    color: #14202e;
    padding-left: 17.5%;
    padding-right: 17.5%;
    letter-spacing: 0px;
    font-size: 1.5vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
  }
  .terrasse-text-and-icon {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 5%;
    padding-bottom: 7.5%;
  }
  .btn-left {
    text-align: center;
    height: 100%;
    width: 10%;
  }
  .btn-right {
    height: 100%;
    width: 10%;
    text-align: center;
    align-items: center;
  }
  .terrasse-icon {
    object-fit: cover;
    width: 25%;
    height: 25%;
    margin-right: 10%;
    margin-top: 7.5%;
  }

  .terrasse-text-list {
    width: 100%;
    height: 50%;
    margin-left: 5%;
  }

  .terrasse-text-list-elements {
    text-align: left;
    padding-left: 12.5%;
    padding-top: 0.25vw;
  }

  .terrasse-text-list-elements i {
    color: rgb(207, 96, 40);
    font-size: 1vw;
    padding-right: 1vw;
  }
  .terrasse-text-list-elements h {
    color: #14202e;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }
  .terrasse-text-button-div {
    width: 100%;
  }

  .terrasse-text-button {
    text-align: center;
    text-decoration: none;
    color: #ffff;

    letter-spacing: 0px;
    font-size: 1.5vw;

    font-family: "Open sans", sans-serif;
    font-weight: 600;
    padding: 0.75vw;

    padding-left: 2vw;
    padding-right: 2vw;
    border-style: solid;
    border-color: rgb(207, 96, 40);
    background-color: rgb(207, 96, 40);
  }
}
